*{
  box-sizing: border-box
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  --positive: #fff;
  --negative: #111;
  --medium: #444;
  --high: #ddd;
  --low: #222;
  --accent: #c03;
}
canvas {
  display: block;
  border: 1px solid #ddd;
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
body{
  background: var(--positive);
  margin: 0 auto;
  font-family: monospace, sans-serif;
}

a{
  color: var(--accent);
}

h1{
  margin: 0;
}


h2{
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: .5rem;
  background: linear-gradient(var(--positive), var(--high));
  color: var(--low);
}

header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  margin-bottom: 2rem;
  background: var(--positive);
  box-shadow: 0 4px 32px rgba(0,0,0,.25);
}

header img{
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}

header p{
  margin: 0;
}

.main-layout{
  display: grid;
  grid-template-columns: 400px 800px;
  margin: 0 auto;
  width: 1200px;
}

.editor-area{
  display: flex;
  flex-direction: column;
}

.editor-window{
  box-shadow: 0 4px 32px rgba(0,0,0,.25);
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}


textarea{
  width: 100%;
  background: var(--negative);
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 20px;
  font-family: monospace;
  float: left;
  height: calc(800px - 3.5rem);
}

.editor-actions{
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 1rem;
}

.preview-area{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.preview-window{
  width: 800px;
  height: calc(800px + 2rem);
  box-shadow: 0 4px 32px rgba(0,0,0,.25);
}

.toggle-guides{
  margin-left: auto;
  margin-right: 2rem;
}

#sketch{
  display: flex;
  align-items: center;
  justify-content: center;
}

.commands-area{
  background: rgba(0,0,0,.75);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commands-area:target{
  display: flex;
}

.commands-area .inner{
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  background: var(--positive);
  width: 800px;
  box-shadow: 0 4px 32px rgba(0,0,0,.25);
}

.commands-area .commands-actions{
  width: 800px;
  background: var(--positive);
  padding: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commands-area div{
  margin: 0;
  padding: 0 1rem;
  line-height: 1.5;
  font-size: .8rem;
}

.commands-area h5{
  color: #aaa;
  font-size: 1rem;
  margin: 1rem 0;
  border-bottom: 1px solid #aaa;
}

.commands-area strong{
  font-size: 1rem;
}

button, .button{
  display: inline-block;
  font-size: 1rem;
  font-family: monospace, sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: var(--accent);
  color: var(--positive);
  cursor: pointer;
  text-decoration: none;
}
